.accordion {
    display: grid;
    gap: 16px;
}

.title {
    cursor: pointer;
    font-size: 24px;
    line-height: 1.34;
    font-weight: 600;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;

    svg path {
        fill: var(--gray)
    }
}

.text {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 16px;
}

.opened {
    svg {
        transform: rotate(180deg);
    }
}